# Build artifacts
[Bb]in/
[Oo]bj/
build
output
.gradle
.tmp

# User-specific files
*.suo
*.user
*.sln.docstates
*.cache

# IDEs
.idea/*
!.idea/icon.svg
!.idea/runConfigurations
!.idea/runConfigurations/*

!.idea/.idea.*
.idea/.idea.*/*

!.idea/.idea.*/.idea
.idea/.idea.*/.idea/*
!.idea/.idea.*/.idea/runConfigurations
!.idea/.idea.*/.idea/runConfigurations/*

.vs
_ReSharper*
_dotTrace*

# rd-gen output
*.Generated.cs
*.Generated.kt